
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: right;
    padding: 24px 16px;
    text-decoration: none;
}

.footer {
   position: container-fluid;
   padding: 20px;
   background-color: black;
   color: white;
   text-align: center;
}

